{
  "plugins": ["@shopify/prettier-plugin-liquid", "prettier-plugin-tailwindcss"],
  "tailwindAttributes": [
    "class-selected",
    "class-highlight",
    "class-today",
    "class-adjacent",
    "class-selected-range",
    "class-partially-selected"
  ]
}
