@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

@layer components {
  .example {
    @apply rounded-lg border dark:border-neutral-700 dark:bg-[#171717] overflow-auto mt-6 mb-2
  }
  .spinner-svg {
    animation: loader-rotate 1s linear infinite;
    transform-origin: center center;
  }

  .spinner-svg circle {
    stroke: currentColor;
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
    animation: loader-dash 1s ease-in-out infinite;
    stroke-linecap: round;
  }

  @keyframes loader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes loader-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }

    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
}

.tooltip {
  @apply rounded-md z-50 max-w-sm text-gray-100 bg-neutral-700 font-semibold p-1 px-3
}

@layer base {
  h2 {
    @apply text-3xl font-semibold mb-10
  }
  h3 {
    @apply text-2xl font-semibold mb-4 mt-10
  }
  h4 {
    @apply text-lg font-semibold my-6
  }
  .markdown-container > p {
    @apply my-6
  }
  .markdown-container > ul {
    @apply list-disc list-inside
  }
  .markdown-container p a {
    @apply text-blue-400 underline
  }
  pre code {
    @apply rounded-md bg-neutral-100 block p-4 overflow-auto dark:bg-[#212121]
  }
  code {
    @apply text-sm
  }
  p code, li code {
    @apply text-red-600 dark:text-yellow-600 font-semibold text-sm
  }
}
