<div class="example">
  <div class="bg-neutral-50 p-2 px-6 font-semibold border-b border-neutral-300 dark:bg-neutral-800 dark:border-neutral-700">
    Example
  </div>
  <div class="p-6">
    {% render example %}
  </div>
  {% render "code.liquid" tabs: tabs %}
</div>
