<div class="mb-10 flex justify-end divide-x divide-secondary-300 font-semibold dark:divide-neutral-700">
  <a href="https://github.com/maciejg-git/litewind-alpine/tree/main/components/{{ component }}" class="pr-2 text-blue-500 dark:text-blue-400 underline">View component on Github</a>
  <a href="https://github.com/maciejg-git/litewind-alpine-documentation/tree/main/documentation/{{ component }}.md" class="pl-2 text-blue-500 dark:text-blue-400 underline">This page on Github</a>
</div>
