<div
  x-data="carousel"
  :data-items="['mononoke033.jpg', 'mononoke035.jpg', 'mononoke032.jpg']"
  class="relative flex items-center justify-center overflow-hidden"
>
  <template x-for="(i, index) in getItems">
    <div
      x-bind="item"
      x-alt-transition='{
        "enter": ["transition-none data-prev:-translate-x-full data-next:translate-x-full", "motion-reduce:transition-none transition ease-in-out duration-300", ""],
        "leave": ["transition-none", "motion-reduce:transition-none transition ease-in-out duration-300 absolute top-0", "data-prev:translate-x-full data-next:-translate-x-full"]
      }'
    >
      <img :src="'/images/' + i" alt="" />
      <div
        data-text
        class="absolute bottom-14 left-1/2 -translate-x-1/2 empty:hidden"
      ></div>
    </div>
  </template>
  <button
    class="absolute top-1/2 left-4 -translate-y-1/2 rounded-full bg-gray-200/80 p-3 text-black hover:bg-gray-200"
    x-bind="prevButton"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 320 512"
      fill="currentColor"
      class="h-4 w-4"
    >
      <path
        d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"
      />
    </svg>
  </button>
  <button
    class="absolute top-1/2 right-4 -translate-y-1/2 rounded-full bg-gray-200/80 p-3 text-black hover:bg-gray-200"
    x-bind="nextButton"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 320 512"
      fill="currentColor"
      class="h-4 w-4"
    >
      <path
        d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
      />
    </svg>
  </button>
  <div
    class="absolute bottom-4 left-1/2 flex -translate-x-1/2 gap-x-4 bg-transparent px-2 py-2"
  >
    <template x-for="(i, index) in getItems">
      <div
        x-bind="indicator"
        class="h-3 w-3 rounded-full"
        class-default="bg-gray-400 hover:bg-gray-300"
        class-current="bg-white"
      ></div>
    </template>
  </div>
</div>
