<span
  class="dark:text-text-200 bg-secondary-200 dark:bg-dark-500 inline-flex items-center rounded-full pr-2 pl-3 align-top font-semibold"
>
  <span>Text</span>
  <button
    class="text-text-200 dark:text-text-800 ml-2 flex items-center rounded-full bg-gray-800 p-1 dark:bg-gray-100"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      viewBox="0 0 16 16"
      class="h-2 w-2"
    >
      <path
        d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"
      />
    </svg>
  </button>
</span>
