<div
  x-data="{ languages: ['english', 'swedish', 'korean', 'german', 'icelandic', 'japanese']}"
  class="flex justify-center"
>
  <template x-for="(language, index) in languages">
    <div
      x-text="language"
      @contextmenu.prevent="$dispatch('open-contextmenu', {id: 'contextMenuLanguages', data: { index, language, languages }, $event })"
      class="mr-4 cursor-pointer border p-2 hover:bg-gray-50 dark:border-neutral-700 dark:hover:bg-neutral-700"
    ></div>
  </template>
</div>

<div x-data="dropdownContext" id="contextMenuLanguages">
  <div
    x-bind="menu"
    x-cloak
    class="z-50 w-[320px] rounded-md border border-secondary-200 bg-white shadow-md dark:border-dark-700 dark:bg-dark-800 dark:text-text-300"
  >
    <a
      x-text="'Set ' + contextData?.language"
      href="#"
      class="my-1 block w-full px-6 py-3 pr-4 text-left text-sm text-text-800 hover:bg-secondary-100 focus:bg-primary-500 focus:text-white focus:outline-none dark:text-text-300 dark:hover:bg-dark-700 dark:focus:bg-primary-500 dark:focus:text-white"
    >
    </a>
    <a
      @click="contextData.languages.push('spanish')"
      href="#"
      class="my-1 block w-full px-6 py-3 pr-4 text-left text-sm text-text-800 hover:bg-secondary-100 focus:bg-primary-500 focus:text-white focus:outline-none dark:text-text-300 dark:hover:bg-dark-700 dark:focus:bg-primary-500 dark:focus:text-white"
    >
      Add spanish
    </a>
    <a
      x-text="'Remove ' + contextData?.language"
      @click="contextData.languages.splice(contextData.index, 1)"
      href="#"
      class="my-1 block w-full px-6 py-3 pr-4 text-left text-sm text-text-800 hover:bg-secondary-100 focus:bg-primary-500 focus:text-white focus:outline-none dark:text-text-300 dark:hover:bg-dark-700 dark:focus:bg-primary-500 dark:focus:text-white"
    >
    </a>
  </div>
</div>
