<div
  x-data="input"
  class="flex flex-1 items-center rounded-sm border px-3 py-2 outline-hidden transition-shadow duration-200 focus-within:ring-3 focus:outline-hidden"
  class-default="border-gray-300 bg-white focus-within:border-gray-400 focus-within:ring-primary-200 dark:border-dark-600 dark:bg-dark-800 dark:text-text-300 dark:focus-within:ring-primary-300"
  class-valid="border-success-300 bg-white text-success-600 focus-within:ring-success-200 dark:border-success-400 dark:bg-dark-800 dark:text-success-600 dark:focus-within:ring-success-300"
  class-invalid="border-danger-300 bg-white text-danger-600 focus-within:ring-danger-200 dark:border-danger-400 dark:bg-dark-800 dark:text-danger-600 dark:focus-within:ring-danger-300"
>
  <div data-icon class="mr-3 empty:hidden"></div>
  <div data-prepend class="mr-3 empty:hidden"></div>
  <div class="mr-3 flex flex-1 flex-wrap">
    <input
      x-bind="input"
      type="text"
      class="w-full min-w-0 flex-1 border-0 bg-transparent p-0 outline-hidden focus:min-w-[64px] focus:outline-hidden"
    />
  </div>
  <div data-append class="mr-3 empty:hidden"></div>
  <div class="flex items-center gap-x-2">
    <div x-bind="loader" x-cloak>
      <svg
        viewBox="25 25 50 50"
        fill="none"
        class="h-5 w-5 animate-spinner-rotate"
      >
        <circle
          cx="50"
          cy="50"
          r="20"
          stroke="currentColor"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke-linecap="round"
          class="animate-spinner-dash"
        />
      </svg>
    </div>
    <button x-bind="clearButton" @click="clear()" class="flex items-center" x-cloak>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="h-5 w-5 opacity-70"
        viewBox="0 0 16 16"
      >
        <path
          d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
        />
      </svg>
    </button>
  </div>
</div>
