<div
  class="relative flex h-1 overflow-hidden rounded-full bg-secondary-100 dark:bg-dark-800"
>
  <div
    x-bind="progressBar"
    class="absolute flex h-full w-[70%] origin-left animate-[slide_1.5s_linear_infinite] items-center justify-center rounded-full bg-gradient-to-r from-yellow-400 via-orange-500 to-red-500"
  ></div>
</div>
