<button
  x-data
  x-tooltip="{text: 'tooltip with a 300ms delay', offsetY: 5, delay: 300}"
  class="mx-auto block flex items-center rounded-md border-violet-700 bg-violet-500 px-4 py-2 font-medium text-gray-100 hover:bg-violet-600 focus:ring-violet-200 dark:bg-violet-500 dark:hover:bg-violet-600"
>
  Hover me
</button>
