<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/output.css" rel="stylesheet">
    <script defer src="/alpine-components/table/table.js"></script>
    <script defer src="/alpine-components/pagination/pagination.js"></script>
    <script defer src="/alpine-components/datepicker/datepicker.js"></script>
    <script defer src="/alpine-components/progress/progress.js"></script>
    <script defer src="/alpine-components/input/input.js"></script>
    <script defer type="module" src="/alpine-components/dropdown-context/dropdown-context.js"></script>
    <script defer type="module" src="/alpine-components/dropdown/dropdown.js"></script>
    <script defer src="/alpine-components/tabs/tabs.js"></script>
    <script defer type="module" src="/alpine-components/floating.js"></script>
    <script defer src="/alpine-components/transition-plugin.js"></script>
    <script defer src="/alpine-components/table/table-store.js"></script>
    <script defer src="/alpine-components/table/table-filter-pagination-store.js"></script>
    <script defer src="/alpine-components/table/table-definition-store.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/googlecode.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/javascript.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body>
    <nav class="flex w-full items-center border-b px-4 py-2 dark:border-neutral-700 dark:text-gray-300 fixed left-0 top-0 bg-white dark:bg-neutral-800">
      <span class="font-semibold">
        Alpine Components
      </span>
    </nav>
    {{ content }}
  </body>
</html>
