---
layout: "layouts/base.html"
---
<div class="mt-16 text-text-800 dark:bg-[#191919] dark:text-[#c9cbd0] flex flex-col mx-auto">
  <div class="justify-center flex flex-row flex-wrap w-auto">
    <div class="hidden basis-2/12 lg:block xl:px-6 flex-[0_0_0%] min-w-0">
      <div class="sticky top-16 ml-auto overflow-auto border-r px-10 pt-2 text-[0.9em] font-semibold text-text-600 dark:border-dark-700 dark:text-text-300/70">
        {% render "nav-components.liquid" collections: collections, page: page %}
      </div>
    </div>
    <div class="mt-12 max-w-screen-lg grow px-4 py-3 lg:px-6 xl:px-20 flex-[0_0_0%] min-w-0">
      <div class="markdown-container">
        {{ content }}
      </div>
    </div>
    <div class="hidden basis-2/12 xl:block">
    </div>
  </div>
</div>
