---
layout: "layouts/base.html"
---
<div class="mt-16 text-text-800 dark:bg-[#191919] dark:text-[#c9cbd0] flex flex-col mx-auto min-h-[90vh]">
  <div class="justify-center flex flex-row flex-wrap w-auto">
    <div class="hidden basis-2/12 lg:block xl:px-6 flex-[0_0_0%] min-w-0">
      <div class="sticky top-16 ml-auto overflow-auto border-r px-10 pt-2 text-[0.9em] text-text-600 dark:border-dark-700 dark:text-text-300/70">
        {% render "nav-components.liquid" collections: collections, page: page %}
      </div>
    </div>
    <div class="mt-12 max-w-screen-lg grow px-4 py-3 lg:px-6 xl:px-20 flex-[0_0_0%] min-w-0">
      <div class="markdown-container">
        {{ content }}
      </div>
    </div>
    <div class="hidden basis-2/12 xl:block">
      <div class="top-16 sticky">
        <div class="mb-6 dark:text-text-300 font-semibold">Contents</div>
        <div 
          x-data="{ 
            headings: [],
            currentHeading: null,
            isPartiallyInViewport(element, offsetBottom) {
              const rect = element.getBoundingClientRect();
              return (
                rect.bottom - offsetBottom > 0 &&
                rect.top <= document.documentElement.clientHeight
              );
            },
            handleScroll() {
              let visibleHeaders = [...this.headings].filter((i) => {
                return this.isPartiallyInViewport(i.nextElementSibling, 200);
              });
              if (
                window.scrollY + window.innerHeight >=
                  document.documentElement.scrollHeight &&
                visibleHeaders.length
              ) {
                this.currentHeading = visibleHeaders[visibleHeaders.length - 1];
                return;
              }
              if (!visibleHeaders[0] || this.currentHeading === visibleHeaders[0]) {
                return;
              }
              this.currentHeading = visibleHeaders[0];
            }
          }"
          x-init="headings = document.body.querySelectorAll('h3,h4')"
          @scroll.window="handleScroll"
          class="text-[0.9em] text-text-600 dark:text-text-300/70"
        >
          <ul class="flex flex-col gap-y-2">
            <template x-for="heading in headings">
              <li :class="{'ml-4': heading.tagName[1] === '4', 'font-semibold text-text-800 dark:text-text-200': heading === currentHeading}">
                <a :href="'#' + heading.id" x-text="heading.textContent"></a>
              </li>
            </template>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div x-data="sidepanel" id="sidepanelComponents" x-cloak>
  <template x-if="isModal">
    <div
      x-bind="backdrop"
      x-alt-transition='{
        "enter": ["opacity-0", "transition ease-out duration-100", "opacity-100"],
        "leave": ["opacity-100", "transition ease-in duration-100", "opacity-0"]
      }'
      class="fixed inset-0 z-30 overflow-y-auto bg-black/50"
    ></div>
  </template>
  <aside
    x-bind="sidepanel"
    class="fixed left-0 top-0 z-30 h-full w-[250px] bg-secondary-100 px-6 text-left shadow-lg shadow-black/40 dark:bg-dark-700 dark:text-text-300 flex flex-col"
    x-alt-transition='{
            "enter": ["opacity-0 -translate-x-40", "transition ease-out duration-100", "opacity-100"],
            "leave": ["opacity-100", "transition ease-in duration-100", "opacity-0 -translate-x-40"]
          }'
  >
    <div class="flex w-full items-center justify-between">
      <div class="my-4 text-lg font-semibold">Header</div>
      <button @click="close()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"
          />
        </svg>
      </button>
    </div>
    <div class="h-full overflow-y-auto">
      {% render "nav-components.liquid" collections: collections, page: page %}
    </div>
  </aside>
</div>
